/* ALL common CSS start */
*{

    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    display: inline-block;
}
.bb{
    border-bottom: none !important;

}
    ul,ol{
        list-style-type: none;
    }
    h1,h2,h3,h4,h5,h6,p{
        margin: 0;
        padding: 0;
        line-height: 0.8;
    }
      
/* All common CSS end */

/* Header Part Start */
#headerpart{
   
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 30px 0;
}
/* .logo{
    width: 70%;
}
.menu{
    width: 20%;
}
.button{
    width: 10%;
} */

.logomanu{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.menu ul li a{
    padding: 0 35px;
    font-size: 20px;
    font-weight: 400;
    color: #474747;
;
}
.menu ul{
    display: flex;

}
.menu ul li .btn{
    padding: 10px 20px;
    background: #FD6E0A;
    border-radius: 5px;
    color: white;

}
/* Bannerpart commoc CSS Start */
#bannerpart{
    padding-top: 315px;
    padding-bottom: 185px;
    background: url(../images/bannerBg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bannertext h4{
    font-size: 46px;
    font-weight:600 ;
    color: #474747;
}
.bannertext h1{
font-size: 85px;
    font-weight:700 ;
    color: #181818;
    padding-top: 30px;
    padding-bottom: 35px;
}
.bannertext p{
    font-size: 18px;
    font-weight:400 ;
    color: #757575;
    line-height: 30px;
    width: 585px;

}
.bannertext a{
    padding: 15px 20px;
    background: #FD6E0A;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    border: 2px solid #FD6E0A;
    margin-top: 20px;
}
.bannertext a :hover{
      background: transparent;
    color: #181818;
}
   
  
/* Bannerpart commoc CSS end */
#aboutpart{
    padding: 130px
    
}
.aboutcontent{
    padding: 130px 155px;
    background: #FFF8F3;
    text-align: center;
}
.aboutcontent h3{
    font-size: 35px;
    font-weight: 700px;
    color: #181818;
    padding-bottom: 10px;
}
.aboutcontent p{
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
    line-height: 30px;
}
.contactdetails{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#servicepart{
    padding-bottom: 140px ;
}
.servicehead{
    text-align: center;
}
.servicehead h3{
    color: #181818;
    font-size: 35;
    font-weight: 700;
    padding-bottom: 10px;
}
.servicehead p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    padding: 0 118px;

}
.serviceitemflex{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

}
.serviceitem{
     width: 20%;
    padding: 30px;
    box-shadow: 10px 12px 213px 9px rgba(0,0,0,0.43);
-webkit-box-shadow: 10px 12px 213px 9px rgba(0,0,0,0.43);
-moz-box-shadow: 10px 12px 213px 9px rgba(0,0,0,0.43);
}

.serviceitem h3{
    font-size: 20px;
font-weight: 700;
color: #474747;
padding: 20px 0;
}

.serviceitem  p{
    font-size: 16x;
font-weight: 400;
color:#757575;
line-height: 28px;
}
/* Resumepart start */
#resumepart{
padding: 115px 0;

}
.resumehead{
    text-align: center;
    margin-bottom: 40px;
}
.resumehead h3{
     font-size: 35px;
font-weight: 700;
color: #181818;
padding: 20px ;
}
.resumeflex{
    display: flex;
    justify-content: space-between;
}
.resumeleft{
    width: 48%;
}
.resumeleft h3{
    font-size: 30px;
font-weight: 700;
color: #181818;
padding-bottom: 10px;

}
.resumeright{
    width: 48%;
}
.resumeright h3{
    font-size: 30px;
font-weight: 700;
color: #181818;
padding-bottom: 10px;

}
.resumeitem{
    border-bottom: 2px solid #d1d1d1;
    padding-bottom: 20px;
}
.resumeitem h3{
 font-size: 30px;
font-weight: 700;
color: #181818;
padding: 20px 0;
}
.resumeitem h4{
 font-size: 20px;
font-weight: 600;
color: #474747;
padding-bottom: 10px 0;
}
.resumeitem p{
 font-size: 16px;
font-weight: 400;
color: #181818;
line-height: 28px;
}
.resumebtn{
    text-align: center! important;
}
#footerpart{
    padding: 150px 0;
    background: #FFF8F3;
    
}
.footerflex{
display: flex;
justify-content: space-between;
}
.footerleft{
width: 50%;
}
.footerright{
width: 40%;
}
.footerleft h3{
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    padding-bottom: 10px;
}
.footerleft p{
    font-size: 16px;
    font-weight: 400;
    color: #474747;
    line-height: 28px;
}
.contactus h3{
     font-size: 35px;
    font-weight: 700;
    color: #181818;
    padding-bottom: 20px;
}
.myinput{
    display: block;
    padding: 20px 30px;
    background: white;
    margin: 20px 0;
    width: 100%;
    border-radius: 5px;
    border: none;
}
.contactus button{
    padding: 15px 20px;
    background: #FD6E0A;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    
}